# Ipython related directories
.idea/
.ipynb_checkpoints/

# Remove these from gitignore once ready for public use.
flavours_of_linear_regression.ipynb
flavours_of_linear_regression.py

# Additional directories
./images
./mnist_data_sebastian_raschka
./datasets/CRF/
./datasets
./coding_exercise/archive.zip/
./coding_exercise/Data Science Challenge_02.11.pdf

# .pyc and .gz files
*.pyc
*.gz
